.cursor-pointer {
  cursor: pointer;
}
.text-around-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg); /* Rotación del texto */
  transform-origin: 50% 50%; /* Punto de origen de la rotación */
}

.text-around-image::before {
  content: "";
  width: 100%;
  height: 1px; /* Espaciado entre el texto y la imagen */
  background: #000; /* Color de línea */
  position: absolute;
  top: 50%; /* Alineación vertical del texto */
  left: 0;
  transform: translateY(-50%); /* Alineación vertical del texto */
}

.bg-signin {
  background-color: #A5CECE;
}